{
    // "env": {
    //   "es6": true,
    //   "node": true
    // },
    // "extends": "eslint:recommended",
    "extends": ["react-app", "plugin:prettier/recommended"],
    "rules": {
      "no-console": "warn"
    }
  }