.directors
    list-style-type: none

    button
        background-color: #b36c6c
        border: 0
        border-radius: 5px
        cursor: pointer
        outline: none
        padding: 5px

        &:hover
            background-color: #e4838b   
