.movies-list__filter
    display: flex
    padding: 20px

    &-label
        position: relative
        top: -30px
        right: -30px
        color: #845678

    &-input
        border-color: #845678
        outline: none
        &:hover
            border-color: blue
        &:focus
            border-color: green

    .movies-list__cathegory
        width: 300px
        > div
            border-width: 2px
            box-shadow: none
    
    .movies-list__status
        margin-left: 20px
        border-color: #845678
        border-width: 2px
        outline: none
        &:hover
            border-color: blue
        &:focus
            border-color: green
